/* ----------------------*/
/*    Grilla Productos   */
/* ----------------------*/
.contenedor-grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 3fr;
  grid-gap: 20px;
  padding: 20px;
}

.contenedor-grilla > div {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #dfe1e5;
}

.card {
  background-color: white;
  transition: transform 0.3s ease;
  height: 500px;
}

.card:hover {
  transform: scale(1.005); /* Agranda la imagen */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade sombra */
  z-index: 1; /* para que no tape al nav*/
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  object-position: center;
}

.card div {
  margin: 15px;
}

.card div h3 {
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
}

.card div p {
  font-size: 40px;
  font-family:Arial, Helvetica, sans-serif;
}

/* --------------------------------*/
/*         Barra Superior          */
/* --------------------------------*/

.barra-superior {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px;
}

.buscador {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 20px;
  padding: 0 15px;
  transition: box-shadow 0.2s;
  background-color: white;
}

.lupa {
  color: grey !important;
}

.buscador:hover,
.buscador:focus-within {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.buscador input {
  flex: 1;
  border: none;
  height: 100%;
  font-size: 16px;
  outline: none; /* Quita el borde azul por defecto */
  margin-left: 10px;
}

.selector-categoria select {
  display: flex;
  align-items: center;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 20px;
  padding: 10px 15px;
  transition: box-shadow 0.2s;
  background-color: white;
}
